* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    padding: 30px;
    font-size: 3rem;
    color: white;
}
main {
    background-color: firebrick;
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 90vh;
}

#sidebar {
    background-color: gray;
}

h2 {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 2rem;
}

.sidebar-list-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
}

.sidebar-list {
    list-style: none;
    font-size: 1.5rem;
    padding: 15px;
}

.sidebar-list li {
    padding: 5px;
    border: 1px black solid;
}

.projects-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;

}

.projects-list {
    list-style: none;
    font-size: 1.25rem;
    padding: 15px;
}

.projects-list li {
    padding: 5px;
    border: 1px black solid;
}

#content {
    background-color: rgb(253, 245, 218);
    height: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-size: 3rem;
}

.new-task {
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% 38%;
    padding: 20px;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.modal-header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(187, 187, 187) solid 2px;
    width: 100%;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(173, 173, 173);
    width: 30px;
    height: 30px;
    font-size: 40px;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body-div {
    padding: 20px;
}

/* FORM ELEMENTS */
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div-1, .form-div-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 0px 20px;
}

.modal-inputs {
    display: flex;
}

.input-div {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    width: 90%;
}

.input-element {
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    width: 250px;
    margin-top: 5px;
}

.form-description {
    min-width: 250px;
    max-width: 250px;
    min-height: 150px;
    max-height: 150px;
}

.form-div-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn, .cancel-btn {
    font-size: 20px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    opacity: 0.6;

}

.add-btn {
    background-color: rgb(45, 151, 45);

}

.cancel-btn {
    background-color: rgb(214, 15, 15);

}

/*PSEUDO ELEMENTS/CLASSES*/

.add-btn:hover, .cancel-btn:hover {
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.new-task:hover,
.inbox:hover,
.today:hover,
.week:hover {
    cursor: pointer;
    border: 2px black solid;
}

.input-element:invalid {
    border: 2px red solid;
}