* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* HEADER STYLINGS */
header {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    padding: 30px;
    font-size: 3rem;
    color: white;
}

main {
    background-color: firebrick;
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 90vh;
}

/* SIDEBAR STYLINGS */
#sidebar {
    background-color: gray;
}

h2 {
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 1.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-list-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;
}

.sidebar-list {
    list-style: none;
    font-size: 1.5rem;
    padding: 15px;
}

.sidebar-list li {
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icons {
    width: 25px;
    margin: 5px;
}

.projects-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: gray;

}

#add-project {
    

}

.projects-list {
    list-style: none;
    font-size: 1.25rem;
    padding: 0px;
}

.projects-list li {
    padding: 5px;
    font-size: 1.5rem;
}

/* MAIN CONTENT */

#content {
    background-color: rgb(253, 245, 218);
    height: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-size: 3rem;
}

#table {
    width: min-content;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: 0px 3px 10px 1px gray;
    max-width: 80vw;
    overflow: auto;
    background-color: white;
    padding: 25px 5px;
}

.tdl-header {
    font-size: 22px;
    text-align: center;
    padding: 10px 20px;
    max-width: 225px;
    min-width: 225px;
    overflow-wrap: break-word;
}

/* CHECKBOX STYLING */

.delete {
    min-width: min-content;
    min-height: min-content;
    padding: 15px;
}

.delete-header {
    min-width: 54.19px;
    height: min-content;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label {
    display: flex;
}

.checkbox-container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: .05em solid black;
}

.new-task {
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;

}

/* MODAL STYLINGS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% 38%;
    padding: 20px;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.modal-header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(187, 187, 187) solid 2px;
    width: 100%;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(173, 173, 173);
    width: 30px;
    height: 30px;
    font-size: 40px;
}

.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body-div {
    padding: 20px;
}

.alert {
    background-color: rgb(255, 189, 189);
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    font-size: 1.25rem;
}

/* FORM ELEMENTS */
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div-1, .form-div-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 0px 20px;
}

.modal-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-div {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    width: 90%;
}

.input-element {
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    width: 250px;
    margin-top: 5px;
}

.form-div-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn, .cancel-btn {
    font-size: 20px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    opacity: 0.6;

}

.add-btn {
    background-color: rgb(45, 151, 45);

}

.cancel-btn {
    background-color: rgb(214, 15, 15);

}

/*PSEUDO ELEMENTS/CLASSES*/

.add-btn:hover, .cancel-btn:hover {
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}


.inbox:hover,
.today:hover,
.week:hover,
#add-project:hover {
    cursor: pointer;
    filter: invert(98%) sepia(2%) saturate(15%) hue-rotate(62deg) brightness(104%) contrast(100%);
    transform: scale(1.1);
    transition: 0.2s;
}

.new-task:hover {
    color: gray;
    cursor: pointer;
}

.input-element:invalid {
    border: 2px red solid;
}

/* CHECKBOX PSEUDO ELEMENTS */
.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
    background-color: lightgray;
    cursor: pointer;
    opacity: 1;
    transition: .2s;
}

.checkbox-container input[type='checkbox']:focus + label::before {
    box-shadow: 0 0 10px gray;
}

.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled {
    color: #aaa;
    cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
    background-color: #ccc;
    border-color: #999;
}